<ion-header *ngIf=" a.env.header?.gallery !== false ">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ title }}
    </ion-title>

    <ion-buttons *ngIf=" a.isLoggedIn " slot="end">
      <ion-button (click)=" openPostEdit() ">
        <ion-icon name="add"></ion-icon>
        <span class="ml-1">{{ a.t('new post') }}</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="offset-bottom-minus65px">
  <app-post-list #appPostList [designType]=" 'gallery' "></app-post-list>
</ion-content>