<ion-header>
  <app-header-toolbar [title]="a.t({
      en: 'Evie & Co Microblading',
      ko: 'Evie & Co 반영구화장'
    })"></app-header-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let gallery of a.settings.gallery">
    <ion-card-header>
      <ion-card-subtitle>{{ a.t( gallery.header ) }}</ion-card-subtitle>
      <ion-card-title>{{ a.t( gallery.title ) }}</ion-card-title>
    </ion-card-header>

    <ion-img src="{{ gallery.photoUrl }}"></ion-img>
    <ion-card-content>{{ a.t( gallery.content ) }}</ion-card-content>

    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/img/avatar.jpg">
      </ion-avatar>
      <div class="ml-3">
        <h2 class="m-0 p-0 fw-light fs-md">Evie & Co</h2>
        <p class="m-0 p-0 fw-light fs-xs">November 5, 1955</p>
      </div>
    </ion-item>
  </ion-card>


</ion-content>