<section class="comment-list" *ngIf=" comments.length ">
    <div [attr.depth]=" comment?.depth " *ngFor="let comment of comments">

        <ion-grid class="my-1">
            <ion-row>
                <ion-col size="2">
                    <ion-thumbnail>
                        <img class="circle" src="{{ comment.photo ? comment.photo : '/assets/img/avatar.jpg' }}">
                    </ion-thumbnail>
                </ion-col>

                <ion-col size="10">
                    <span>
                        <h2 class="ml-1 m-0 pt-1 fw-light fs-md ">{{ comment.user.name }}</h2>
                    </span>
                    <div class="pl-1" [innerHTML]=" comment.content ? comment.content : '( Deleted )' ">
                    </div>
                </ion-col>
            </ion-row>
            <app-post-buttons [root]=" post " [parent]=" comment "></app-post-buttons>
            <app-comment-box [post]=" post " [parent]=" comment " *ngIf=" post['replyTo'] === comment.idx "></app-comment-box>
        </ion-grid>

    </div>
</section>