<ion-header *ngIf="a.env.header?.forum !== false">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ a.t("forum") }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)=" a.openPostEdit('create', forumIndex, forumSetting.idx_category ) ">
        <ion-icon name="add"></ion-icon>
        <span class="ml-1">{{ a.t('new post') }}</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-post-list #appPostList [designType]=" 'text' "></app-post-list>
</ion-content>