<p class="ml-2 pt-3">
    {{ a.site.home.title }}
</p>

<div class="icons">
    <span class="icon">
        <img src="/assets/apps/default/home/1.jpg">
        <p> Some text </p>
    </span>

    <span class="icon">
        <img src="/assets/apps/default/home/2.jpg">
        <p> Some text </p>
    </span>

    <span class="icon">
        <img src="/assets/apps/default/home/3.jpg">
        <p> Some text </p>
    </span>

    <span class="icon">
        <img src="/assets/apps/default/home/4.jpg">
        <p> Some text </p>
    </span>
</div>

<div class="home-content">
    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/a.jpg"></ion-img>
    </div>

    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/b.jpg"></ion-img>
    </div>

    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/c.jpg"></ion-img>
    </div>
</div>