<p class="ml-2 pt-3">
    {{ a.site.home.title }}
</p>

<div class="mt-3 pb-3 d-flex justify-content-around icons border-bottom">
    <img src="/assets/apps/default/home/1.jpg">
    <img src="/assets/apps/default/home/2.jpg">
    <img src="/assets/apps/default/home/3.jpg">
    <img src="/assets/apps/default/home/4.jpg">
</div>

<div class="articles">
    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/a.jpg"></ion-img>
    </div>

    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/b.jpg"></ion-img>
    </div>

    <div>
        <p class="title"> Some text here </p>
        <ion-img class="content" src="/assets/apps/default/home/c.jpg"></ion-img>
    </div>
</div>