<ion-header class="contact position-absolute" *ngIf=" a.env.header?.contact !== false ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="white text-shadow-black">
      {{ a.t('contact') }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact">
  <section class="banner position-relative">
    <img src="assets/apps/{{ a.env.domain }}/contact-title-image.jpg">
    <div class="position-absolute top-12rem left-0 right-0 flex-center text-center">
      <div class="white">
        <img class="w-100px border-radius-50 box-shadow" src="assets/apps/{{ a.env.domain }}/contact-person-image.jpg">
        <div class="fs-lg text-shadow">{{ a.settings.site.contact.title }}</div>
        <div class="fs-md text-shadow">{{ a.settings.site.contact.name }}</div>
      </div>
    </div>
  </section>

  <ion-list>
    <ion-item *ngFor="let item of a.settings.site.contact.contacts" (click)=" onClickContact( item ) ">
      <ion-label>{{ item.label }}</ion-label>
      <ion-text>{{ item.text }}</ion-text>
    </ion-item>
  </ion-list>

</ion-content>