<p class="ml-2 pt-3">
    {{ a.site.home.title }}
</p>

<div class="icons">
    <span class="icon">
        <img src="/assets/apps/{{ a.env.domain }}/home/1.jpg">
        <p> {{ icon_label[lang] }}</p>
    </span>

    <span class="icon">
        <img src="/assets/apps/{{ a.env.domain }}/home/2.jpg">
        <p> {{ icon_label[lang] }} </p>
    </span>

    <span class="icon">
        <img src="/assets/apps/{{ a.env.domain }}/home/3.jpg">
        <p> {{ icon_label[lang] }} </p>
    </span>

    <span class="icon">
        <img src="/assets/apps/{{ a.env.domain }}/home/4.jpg">
        <p> {{ icon_label[lang] }} </p>
    </span>
</div>

<div class="home-content">

    <div class="post">
        <p class="title"> {{ title[lang] }} </p>
        <ion-img src="/assets/apps/{{ a.env.domain }}/home/a.jpg"></ion-img>
        <div class="content">
            <p> {{ content[lang] }} </p>
        </div>
    </div>

    <div class="post">
        <p class="title"> {{ title[lang] }} </p>
        <ion-img src="/assets/apps/{{ a.env.domain }}/home/b.jpg"></ion-img>
        <div class="content">
            <p> {{ content[lang] }} </p>
        </div>
    </div>

    <div class="post mb-4">
        <p class="title"> {{ title[lang] }} </p>
        <ion-img src="/assets/apps/{{ a.env.domain }}/home/c.jpg"></ion-img>
        <div class="content">
            <p> {{ content[lang] }} </p>
        </div>
    </div>

</div>