<ion-card>
    <ion-card-subtitle>
        <div class="pt-3 px-3">{{ a.t(text.title.subtitle) }}</div>
    </ion-card-subtitle>
    <ion-card-title>
        <h1 class="display-4 px-3 fs-lg">{{ a.t(text.title.title) }}</h1>
    </ion-card-title>

    <ion-img src="/assets/apps/{{ a.env.domain }}/home/title-image.jpg"></ion-img>

    <ion-card-content>
        <div (click)="text.title['showMore'] = true">
            <span class="d-inline">{{ a.t( text.title.content ) }}</span>
            <span class="d-inline pl-2" *ngIf=" ! text.title['showMore'] ">{{ a.t('read more') }} ...</span>
        </div>

        <div [innerHTML]="a.t( text.title.contentMore )" *ngIf="text.title['showMore']"></div>
    </ion-card-content>


    <div class="icon-line ml-2 mr-2 d-flex justify-content-around">
        <image-text class="d-block p-2" [src]=" '/assets/apps/' + a.env.domain + '/home/'+n+'.jpg' " [title]="a.t( text ) "
            *ngFor=" let text of imageTextTitles; let n = index" (click)="showIconLineNo = n"></image-text>
    </div>

    <ng-container *ngFor=" let n of [ 0, 1, 2, 3 ] ">
        <div *ngIf=" showIconLineNo == n ">
            <div class="ml-3 mb-2">{{ a.t( iconTexts[n] ) }}</div>
            <img src="/assets/apps/{{ a.env.domain }}/home/icon-line-image-{{n}}.jpg">
        </div>
    </ng-container>

</ion-card>

<ion-card class="post" *ngFor=" let n of [ 0, 1, 2 ] ">
    <ion-img src="/assets/apps/{{ a.env.domain }}/home/card-{{ n }}.jpg"></ion-img>
    <ion-card-header>
        <ion-card-subtitle>{{ a.t( cards[n].subtitle ) }}</ion-card-subtitle>
        <ion-card-title>{{ a.t( cards[n].title ) }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{ a.t( cards[n].content ) }}</ion-card-content>
    <ion-item>
        <ion-avatar item-start>
            <img src="/assets/img/avatar.jpg" />
        </ion-avatar>
        <div class="ml-3">
            <h2 class="m-0 p-0 fw-light fs-md">Evie & Co</h2>
            <p class="m-0 p-0 fw-light fs-xs">November 5, 1955</p>
        </div>
    </ion-item>
</ion-card>