<section class="articles" *ngIf=" posts.length ">
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-subtitle>{{ a.t( post.title ) }}</ion-card-subtitle>
      <ion-card-title>{{ a.t( post.title ) }}</ion-card-title>
    </ion-card-header>

    <ion-img src="{{ file.url }}" *ngFor=" let file of post.files "></ion-img>

    <ion-card-content>
      <div [innerHTML]="post['safe_content']"></div>
    </ion-card-content>

    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/img/avatar.jpg">
      </ion-avatar>
      <div class="ml-3">
        <h2 class="m-0 p-0 fw-light fs-md">Evie & Co</h2>
        <p class="m-0 p-0 fw-light fs-xs">November 5, 1955</p>
      </div>
    </ion-item>
  </ion-card>
</section>