<section>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-buttons>
                <ion-button>
                    <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
                    <ion-badge color="light" *ngIf=" parent.comments && parent.comments.length ">
                        {{ parent.comments.length }}
                    </ion-badge>
                </ion-button>

                <ion-button (click)=" onClickVote( 'G' ) ">
                    <ion-icon slot="icon-only" name="happy"></ion-icon>
                    <ion-badge color="light" *ngIf=" parent.good != '0' ">{{ parent.good }}</ion-badge>
                </ion-button>
                <ion-button (click)=" onClickVote( 'B' ) ">
                    <ion-icon slot="icon-only" name="sad"></ion-icon>
                    <ion-badge color="light" *ngIf=" parent.bad != '0' ">{{ parent.bad }}</ion-badge>
                </ion-button>

                <ion-button *ngIf=" mine " (click)=" onClickEdit( ) ">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button (click)=" onClickDelete( ) ">
                    <ion-icon *ngIf=" mine " slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-row>
    </ion-grid>
</section>