<ion-row justify-content-center>

    <ion-buttons class="flex-around">
        <ion-button expand="full" fill="clear" (click)=" onClickReplyTo() ">
            <ion-icon name="chatboxes"></ion-icon>
            <span class="ml-1"> {{ a.t('comment') }} </span>
            <span class="ml-1" *ngIf=" parent.comments && parent.comments.length ">
                ({{ parent.comments.length }})
            </span>
        </ion-button>

        <ion-button expand="full" fill="clear" (click)=" onClickVote() ">
            <ion-icon name="thumbs-up"></ion-icon>
            <span class="ml-1"> {{ a.t('like') }} </span>
            <span class="ml-1" *ngIf=" parent.good != 0 "> ({{ parent.good }}) </span>
        </ion-button>

        <ion-button expand="full" fill="clear" (click)=" openPopupMenu( $event ) " *ngIf=" !mine ">
            <ion-icon name="more"></ion-icon>
        </ion-button>
    </ion-buttons>

</ion-row>