<ion-header>
  <app-header-toolbar [title]=" a.t('map') "></app-header-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Transportation</ion-label>
      <ion-select [(ngModel)]="options.transportMode">
        <ion-select-option value="">Driving</ion-select-option>
        <ion-select-option value="walking">Walking</ion-select-option>
        <ion-select-option value="transit">Transit</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button ion-button (click)="navigate()">Navigate</button>
    </ion-item>
  </ion-list>
</ion-content>