<ion-header>
    <app-header-toolbar [title]=" 'Login' "></app-header-toolbar>
</ion-header>

<ion-content padding>


    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input inputmode="email" name="email" [(ngModel)]=" email "></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Password </ion-label>
        <ion-input inputmode="password" [(ngModel)]=" password "></ion-input>
    </ion-item>

    <ion-button class="fw-light" (click)=" onSubmit( ) " [disabled]=" email == '' || password == '' ">
        LOGIN
    </ion-button>

</ion-content>