<ion-header *ngIf=" a.env.header?.login !== false ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ a.t( a.settings.site.name ) }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form (ngSubmit)="onSubmit()">

    <ion-item class="mt-3">
      <ion-label position="floating">{{ a.t('email') }}</ion-label>
      <ion-input name="email" [(ngModel)]="data.email" required clearInput="true"></ion-input>
    </ion-item>
    <ion-item class="mt-3">
      <ion-label position="floating">{{ a.t('password') }}</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="data.password" required clearInput="true"></ion-input>
    </ion-item>

    <ion-button class="mt-4" type="submit" expand="full">{{ a.t('login') }}</ion-button>

  </form>

</ion-content>