<ion-header *ngIf=" a.env.header?.register !== false ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ a.t( a.settings.site.name ) }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="form.email" required></ion-input>
    </ion-item>

    <ion-item *ngIf=" !a.sp.isLoggedIn ">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="form.password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="form.name" required></ion-input>
    </ion-item>

    <div *ngIf=" a.sp.isLoggedIn ">
      <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input type="text" name="nickname" [(ngModel)]="form.nickname" required></ion-input>
      </ion-item>

      <ion-radio-group name=" gender " [(ngModel)]=" form.gender ">
        <ion-list-header>
          Gender
        </ion-list-header>

        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="M"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="F"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-label position="floating">Birthday</ion-label>
        <ion-input type="text" name="birthday" [(ngModel)]="form.birthday" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input type="text" name="mobile" [(ngModel)]="form.mobile" required></ion-input>
      </ion-item>
    </div>

    <ion-button type="submit" expand="full"> {{ a.sp.isLoggedIn ? 'Update' : 'Register' }} </ion-button>

  </form>

</ion-content>