<ion-header *ngIf=" a.env.header?.home !== false ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ a.t( a.settings.site.name ) }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-work-home *ngIf=" a.env.domain == 'work' "></app-work-home>
  <app-lasema-home *ngIf=" a.env.domain == 'lasema' "></app-lasema-home>
  <app-evieco-home *ngIf=" a.env.domain == 'evieco' "></app-evieco-home>
</ion-content>