<ion-content class="articles" *ngIf="posts.length; else skeleton">
  <ion-card class="post" *ngFor="let post of posts">

    <app-post-header [post]=" post "></app-post-header>

    <ng-container *ngIf=" post.view ">
      <app-post-content [post]=" post "></app-post-content>
      <app-post-buttons [root]=" post " [parent]=" post " [forumIndex]=" forumIndex " [forumSettings]=" forumSettings "
        *ngIf=" a.isLoggedIn "></app-post-buttons>
      <app-comment-list [post]=" post " [comments]=" post.comments " [forumSettings]=" forumSettings " *ngIf=" post.comments && post.comments.length "></app-comment-list>
      <app-comment-box [root]=" post " [parent]=" post " *ngIf=" ( !post['replyTo'] || post['replyTo'] === post.idx ) && !post['commentInUpdate'] "
        [forumSettings]=" forumSettings "></app-comment-box>
    </ng-container>

  </ion-card>
</ion-content>

<ng-template #skeleton>
  <ion-card class="ion-padding" *ngFor="let n of [ 0, 1, 2, 3, 4, 5 ]">

    <div class="d-flex">
      <div>
        <div class="skeleton-image"></div>
      </div>
      <ion-label class="ml-3 w-100">
        <p>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
      </ion-label>
    </div>
    <ion-skeleton-text class=" mt-2 " animated style="width: 60%"></ion-skeleton-text>

  </ion-card>
</ng-template>