<ng-container *ngIf="posts.length; else skeleton">
  <ion-card [class.pb-3]=" post.view && !a.isLoggedIn " *ngFor="let post of posts">

    <app-post-header [post]=" post "></app-post-header>

    <ng-container *ngIf=" post.view ">
      <app-post-content [post]=" post "></app-post-content>
      <app-post-buttons [root]=" post " [parent]=" post " [forumIndex]=" forumIndex " [forumSettings]=" forumSettings "
        *ngIf=" a.isLoggedIn "></app-post-buttons>
      <app-comment-list [post]=" post " [comments]=" post.comments " [forumSettings]=" forumSettings " *ngIf=" post.comments && post.comments.length "></app-comment-list>
      <app-comment-box [root]=" post " [parent]=" post " *ngIf=" ( !post['replyTo'] || post['replyTo'] === post.idx ) && !post['commentInUpdate'] && a.isLoggedIn "
        [forumSettings]=" forumSettings "></app-comment-box>
    </ng-container>

  </ion-card>

  <div class="my-1 fs-lighter gray text-center " *ngIf=" no_more_post ">
    {{a.t('no more post')}}
  </div>
</ng-container>

<!-- default height trigger '15%' -->
<ion-infinite-scroll class=" mt-1 " *ngIf=" !no_more_post " threshold=" 300px " (ionInfinite)="loadPage($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<ng-template #skeleton>
  <ion-card class="ion-padding" *ngFor="let n of [ 0, 1, 2, 3, 4, 5 ]">

    <div class="d-flex">
      <div>
        <ion-avatar slot="start">
          <ion-skeleton-text class="circle" animated></ion-skeleton-text>
        </ion-avatar>
      </div>
      <ion-label class="ml-3 w-100">
        <p>
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </p>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
      </ion-label>
    </div>
    <ion-skeleton-text class=" mt-2 " animated style="width: 60%"></ion-skeleton-text>

  </ion-card>
</ng-template>