<section class="comment-list" *ngIf=" comments.length ">
    <div class="my-2 pl-2 d-flex" [attr.depth]=" comment?.depth " *ngFor="let comment of comments">
        <div>
            <ion-thumbnail>
                <img class="circle" src="{{ comment.photo ? comment.photo : '/assets/img/avatar.jpg' }}">
            </ion-thumbnail>
        </div>
        <app-comment-content class="w-100" [root]=" post " [comment]=" comment "></app-comment-content>
        <app-comment-box [root]=" post " [parent]=" comment " *ngIf=" post['replyTo'] === comment.idx "></app-comment-box>
    </div>
</section>