<app-comment-header [comment]=" comment "></app-comment-header>

<div class="ml-1 p-2 mr-3 bg-gray rounded">
    <div [innerHTML]=" content" *ngIf=" root['commentInUpdate'] !== comment.idx ">
    </div>
    <app-file-display *ngIf=" comment.files && comment.files.length " [files]=" comment.files "></app-file-display>
</div>

<app-post-buttons [root]=" root " [parent]=" comment " *ngIf=" root['commentInUpdate'] !== comment.idx "></app-post-buttons>
<app-comment-box [root]=" root " [comment]=" comment " *ngIf=" root['commentInUpdate'] === comment.idx "></app-comment-box>