<ion-text class=" d-flex ">
    <h2 class="ml-1 m-0 fs-md ">
        {{ comment.user.name }}
    </h2>
    <span class="ml-1 fs-sm">{{ a.shortDate(comment.stamp_created) }}</span>
</ion-text>
<div class="ml-1 p-2 mr-3 bg-gray rounded" [innerHTML]=" comment.content ? comment['safeContent'] : deleted " *ngIf=" root['commentInUpdate'] !== comment.idx ">
</div>
<app-post-buttons [root]=" root " [parent]=" comment " *ngIf=" root['commentInUpdate'] !== comment.idx "></app-post-buttons>
<app-comment-box [root]=" root " [comment]=" comment " *ngIf=" root['commentInUpdate'] === comment.idx "></app-comment-box>